.g-titulo{
    text-align: center;
    margin-top: 10px;

}

/**PartidasList component*/
.nueva-partida-form, .nueva-partida-form .form-control {
    font-size: 0.9rem;;
}

.form-equipo {
    border: 1px solid rgb(187, 187, 187);
    border-radius: 5px;
    padding: 10px 0;
}

.g-link {
    color: rgb(36, 36, 36);
}

.icono {
    float: left;
    margin-right: 10px;
}

.g-card p {
    margin-bottom: 0;
}

.g-card .card-body {
    padding: 1.0rem;
    cursor: pointer;
}