.g-title{
    text-align: center;
    margin-top: 10px;
}

/**PartidasList component*/
.nueva-partida-form, .nueva-partida-form .form-control {
    font-size: 0.9rem;;
}

.form-equipo {
    border: 1px solid rgb(187, 187, 187);
    border-radius: 5px;
    padding: 10px 0;
}

a.g-link {
    color: rgb(36, 36, 36);
    text-decoration: none;
}

.icono {
    float: left;
    margin-right: 10px;
}

