.g-card .card-body{
    display: flex;
    flex-direction: row;
}

.g-card .form-control, .g-card .btn {
    font-size: 1em;
}

.g-teams-container {
    margin-left: 15px;
}

.g-card p {
    margin-bottom: 0;
}

.g-card .card-body {
    padding: 1.0rem;
    /* cursor: pointer; */
}

.g-card-title {
    font-weight: bold;
}

.g-card:hover {
    background-color: aliceblue;
}

.g-card .btn-link {
    padding: 0
}